         @keyframes blink {  
    0% { background-color: #B2F2FF; }
    100% { background-color:#1965F0; }
}
@-webkit-keyframes blink {
    0% { background-color: #B2F2FF; }
    100% { background-color: #1965F0; }
}